*, *::before, *::after {
    box-sizing: border-box;
}

body {
    --background-color: blanchedalmond;
    --accent-color: rgb(255, 174, 66);
    --button-text-color: white;
    --text-color: black;
    --transition-delay: 2s;

    background-color: var(--background-color);
    fill: var(--accent-color);
    color: var(--text-color);
    transition: var(--transition-delay);


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100vh;  /* makes the centering be entire viewheight, not height of elements (which pushes centering to top because elements don't take entire screen) */
    overflow: hidden; /*prevent scroll bar */
}

/* styles for dark mode */
body.dark {
    --background-color: #333;
    --accent-color: #d0d066;
    --button-text-color: var(--background-color);
    --text-color: white;
}

.icon {
    height: 30px;
    width: 30px;
}

.title {
    margin-bottom: 0.5rem;
}

.theme-toggle-button {
    background-color: var(--accent-color);
    color: var(--button-text-color);
    fill: var(--button-text-color);

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    padding: 0.5em 5em;
    border-radius: 5px;
    border: none;
    transition: var(--transition-delay);
    transform: scale(1);
}

.theme-toggle-button .icon {
    margin-right: 0.5em;
}

.theme-toggle-button:hover {
    transform: scale(1.1);
}

.sun-moon-container {
    --rotation: 0;

    pointer-events: none; /*prevents container from blocking btn*/
    position: absolute;
    top: 0;
    height: 200vmin; /*creates circular path based on smallest screen dim */

    transform: rotate(calc(var(--rotation) * 1deg)); /*include units in css so no need for str in js*/
    transition: transform, var(--transition-delay);

    display: flex;
    justify-content: center;
}

#sun, #moon {
    position: absolute;
    transition: opacity, fill, var(--transition-delay);
    fill: var(--accent-color);
    width: 60px;
    height: 60px;
}

#sun {
    top: 5%;
    opacity: 1;
}

#moon {
    bottom: 5%;
    opacity: 0;
    transform: rotate(180deg);  /*keeps moon right side up*/
}

.dark #moon {
    opacity: 1;
}

.dark #sun {
    opacity: 0;
}

.fade-in-animation {
    color: blue;
    animation-name: fade-in;
    animation-duration: var(--transition-delay);
    opacity: 1;
}

@keyframes fade-in {
    50% {opacity: 0;}
}

/* 

.dark #light-text {
    opacity: 0.2;
}

.dark #dark-text {
    opacity: 1;
} */